$flat-grey:#34495E;
$flat-blue: #2980B9;
$fonts: Droid Sans;

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: $flat-grey;
  font-family:$fonts;
}

.commentBox {
  color:white;
}

#left {
  background-color:$flat-blue;
  text-align: center;
  overflow: scroll;
  height:100%;
}


.tweet-wrapper{
  margin:0px;
}

.userimage{
  margin-right:10px;
}

.imageCol{
  margin-top:2px;
  margin-bottom: 2px;

}

.textCol{
  width:60%;
  margin-top:10px;
}
