html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #34495E;
  font-family: Droid Sans;
}

.commentBox {
  color: white;
}

#left {
  background-color: #2980B9;
  text-align: center;
  overflow: scroll;
  height: 100%;
}

.tweet-wrapper {
  margin: 0px;
}

.userimage {
  margin-right: 10px;
}

.imageCol {
  margin-top: 2px;
  margin-bottom: 2px;
}

.textCol {
  width: 60%;
  margin-top: 10px;
}
